.element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;
  max-width: 570px;
}
.element_fullwidth {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 536px;
  margin-left: 8px;
}
