.container {
  width: 1240px;
  display: flex;
  justify-content: flex-start;
}

.form {
  max-width: 480px;
  margin-top: 120px;
}

.menu {
  width: 320px;
}

.title {
  display: none;
}

@media (width < 1201px) {
  .container {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .menu {
    display: none;
  }

  .title {
    display: flex;
    padding: 20px 0;
  }

  .form {
    margin: 0;
  }
}
