.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 50vh;  
}


.form {
  max-width: 480px;
}

.menu {
  width: 320px;
}

.title {
  display: none;
}
