.ingredients {
  display: flex;
  padding: 0;
  margin: 0;
}

.order {
  display: block;
  text-decoration: none;
  color: unset;
  background-color: #1c1c21;
  border-radius: 40px;
  min-width: 576px;
  box-sizing: border-box;
}

.order_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_name {
  text-align: left;
}

.order_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order_total {
  vertical-align: top;
}

.img_wrap {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: #801ab3 solid 2px;
  background-color: #1c1c21;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.img {
  position: relative;
  display: block;
  height: 100%;
  translate: -30px;
}

.remains {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cost {
  display: flex;
  align-items: center;
}

@media (width < 769px) {
  .order {
    max-width: 576px;
    width: 100%;
    min-width: auto;
  }
}

@media (width < 540px) {
  .img_wrap {
    height: 40px;
    width: 40px;
  }

  .img {
    translate: -20px;
  }

  .order_name {
    font-size: 20px;
  }
}
