.titleBox {
  margin: 0px 0 20px;
}

.title_content {
  max-width: 580px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  height: 100%;
  max-width: 1260px;
  width: 100%;
  overflow: hidden;
}

.columnOrders {
  max-width: 608px;
  width: 100%;
}

.columnInfo {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 580px;
  width: 100%;
}


