.columns {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  column-gap: 16px;
}
.column {
  display: inline;
  min-width: 50%;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
  overflow: hidden;
}

.list_item {
  text-align: left;
  min-width: 50%;
}

.title {
  margin: 0;
  padding-top: 20px;
  text-align: left;
}

.title_text {
  display: block;
}

.text_shadow {
  text-shadow:
    0 0 16px rgba(51, 51, 255, 0.25),
    0 0 8px rgba(51, 51, 255, 0.25),
    0 4px 32px rgba(51, 51, 255, 0.5);
}

