.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
  transform: translateY(0%);
  transition: transform ease-out 0.2s;
}

.article:hover {
  transform: translateY(4%);
  transition: transform ease-out 0.2s;
}

.img {
  display: block;
  width: 100%;
  max-width: 240px;
  align-self: center;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  text-align: center;
}

.addButton {
  padding: 0;
  color: #ffff;
}

.addButton:hover {
  color: var(--text-inactive-color);
  transition: all ease-in 0.1s;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

@media (width < 769px) {
  .img {
    max-width: 144px;
  }

  .container {
    padding: 0;
  }
}

@media (width < 651px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
  }
}
